<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>

    <%- include("./partials/header.ejs") %>
    
    <main>
        <div class="titulo-packfav">
            <h2>SELECCIONA TU PACK FAVORITO</h2>
        </div>
        <div class="box-padre">
            <section class="packs">
                <% curriculum.forEach(element => { %>
    
                    <article class="silver">
                        <img src ="<%= element.logo %>" alt="CV Silver">
                        <div class="titulo-silver">
                            <h2><%= element.nombre %></h2>
                        </div>
                        <div class="description-s">
                            <div class="description-silver">
                                <p><%= element.descripcion %></p>
                            </div>
                            <div class="price-silver">
                                <p><%= element.precio %></p>
                            </div>
                        </div>
                        <div class="bottom-silver">
                            <input type="submit" name="add-to-cart" value="Agregar al carrito">
                        </div>
                        <div>
                            <ul class="funciones">
                                <% for (let i = 0; i < element.funciones.length; i++) {%>

                                    <li class="back-funcion"><%=element.funciones[i]%></li>

                                <% } %>
                            </ul>
                        </div>   
                    </article>

                <% }); %> 
            </section>
        </div>

    </main>

    <%- include("./partials/footer.ejs") %> 

</body>
</html>