<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    
    <%- include("./partials/header.ejs") %> 

    <main class="product-detail">
        <div class="titulo-packfav">
            <h2>TU PACK FAVORITO</h2>
        </div>
        <div class="box-padreee">
            <section class="cvvvv">

                <article>
                    <img src ="<%= cv.logo %>" alt="CV">

                    <div class="titulo-cvvvv">
                        <h2><%= cv.nombre %></h2>
                    </div>
                    <div class= "description-b">
                        <div class="description-cvvvv">
                        <p><%= cv.descripcion %> </p>
                        </div>
                        <div class="price-cvvvv">
                        <p><%= cv.precio %></p>
                        </div>
                    </div>
                    <div>
                        <ul class="funciones">
                            <% for (let i = 0; i < cv.funciones.length; i++) {%>

                                <li class="back-funcion"><%=cv.funciones[i]%></li>

                            <% } %>
                        </ul>
                    </div> 

                </article>

            </section>
            <section class="all-cv">
                <div class="estilos">
                    <% for (let i = 0; i < cv.estilos.length; i++) {%>

                        <img src="<%=cv.estilos[i]%>">

                    <% } %>
                </div>
            </section>

        </div>
        <div class="bottom-cvvvv">
            <a href="/carrito"><input type="submit" name="add-to-cart" value="Agregar al carrito"></a>
        </div>
    

    </main>

    <%- include("./partials/footer.ejs") %> 

</body>
</html>
