<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    
    <%- include("./partials/header.ejs") %> 

    <main>
        <div class="titulo-packfav">
            <h2>TU PACK FAVORITO</h2>
        </div>
        <div class="box-padreee">
            <section class="cvvvv">

                <article>
                    <img src ="<%= cv.logo %>" alt="CV">

                    <div class="titulo-cvvvv">
                        <h2><%= cv.nombre %></h2>
                    </div>
                    <div class= "description-b">
                        <div class="description-cvvvv">
                        <p><%= cv.descripcion %> </p>
                        </div>
                        <div class="price-cvvvv">
                        <p><%= cv.precio %></p>
                        </div>
                    </div>
                    <div class="bottom-cvvvv">
                        <input type="submit" name="add-to-cart" value="Agregar al carrito" title="Estas a un solo click de potenciar tu CV!">
                    </div>
                    <div>
                        <ul>
                            <li><%= cv.funciones[0] %></li>
                            <li class="back-funcion"><%= cv.funciones[1] %></li>
                            <li><%= cv.funciones[2] %></li>
                            <li class="back-funcion"><%= cv.funciones[3] %></li>
                            <li><%= cv.funciones[4] %></li>
                            <li class="back-funcion"><%= cv.funciones[5] %></li>
                            <li><%= cv.funciones[6] %></li>
                            <li class="back-funcion"><%= cv.funciones[7] %></li>
                        </ul>
                    </div> 

                </article>

            </section>
            <section class="all-cv">
                <div class="estilos">
                    <img src="<%= cv.estilos[0] %>" alt="">
                    <img src="<%= cv.estilos[1] %>" alt="">
                    <img src="<%= cv.estilos[2] %>" alt="">
                    <img src="<%= cv.estilos[3] %>" alt="">
                    <img src="<%= cv.estilos[4] %>" alt="">
                    <img src="<%= cv.estilos[5] %>" alt="">
                    <img src="<%= cv.estilos[6] %>" alt="">
                    <img src="<%= cv.estilos[7] %>" alt="">
                    <img src="<%= cv.estilos[8] %>" alt="">
                </div>
            </section>
        </div>
    

    </main>

    <%- include("./partials/footer.ejs") %> 

</body>
</html>
